.signup-wrapper{
    width:50%;
    max-width: 450px;
    height:auto;
    position: sticky;
    box-shadow:var(--shadow) ;
    border-radius:1rem;
    padding: 1rem 1.5rem ;
}

.title{
 font-weight: 500;
 font-size: 1.2rem;
 text-align: center;
}